doctype html
html
  head
    link(rel='stylesheet', href='/public/stylesheets/css/style.css')

    block head

  body
    <h1>What do you feel like today?</h1>

    div(id="root")
    block content

    <h3>By Evan Hicks</h3>
